/* modules */
.visible-xxs
  display: none !important

.content
  padding-top: 45px
  padding-bottom: 55px
  &__wrapper
    background: $color-white
    border-radius: 4px
    padding: 24px 28px 28px 28px
    min-height: 500px
    +clearfix
  &__title
    font-size: rem(15)
    font-family: $font-roboto-bold
    border-bottom: 1px solid #e5e5e5
    margin-bottom: 17px
    line-height: 24px
  &__date
    color: $color-white
    background: $color-1
    text-align: center
    height: 18px
    line-height: 18px
    width: 56px
    font-size: rem(11)
    font-family: $font-roboto-light
    margin-top: 3px
  &__table
    margin-bottom: 10px
    td
      padding: 0 15px 15px 0
      &:last-child
        padding-right: 0
    p
      &:last-child
        margin-bottom: 0

.main-slider
  box-shadow: 2px 2px 10px rgba($color-2,.1)
  margin-bottom: 70px
  .slick
    &-dots
      height: 12px
      bottom: 14px
      li
        vertical-align: 10px
        height: 11px
        margin: 0 2px
        width: 11px
        button
          width: 12px
          height: 12px
          background: $color-white
          border-radius: 50%
          box-shadow: 0 0 0 0 $color-white inset
          font-size: 0
          border: 1px solid #dbdbde
          &::before
            display: none
        &.slick-active
          button
            background: $color-1
            border-color: $color-1
            box-shadow: 0 0 0 2px $color-white inset

.main-catalog
  padding-top: 10px
  &__block
    background: $color-white
    overflow: hidden
    border-radius: 3px
    height: 240px
    display: block
    margin-bottom: 30px
    box-shadow: 2px 2px 10px rgba($color-2,.1)
    transition: all 0.35s
    text-decoration: none !important
    position: relative
    color: $color-2
    +clearfix
    &:hover
      color: $color-2
      box-shadow: 0px 0px 0px rgba($color-2,.1)
      &>svg
        .path--color
          fill: $color-1
    &>svg
      display: block
      width: 233px
      height: 248px
      position: absolute
      top: -1px
      right: -51px
      z-index: 0
      .path--color
        transition: all 0.35s
        fill: #dbdbde
    &-img
      position: absolute
      right: 0
      bottom: 0
      z-index: 5
    &-title
      color: $color-2
      font-family: $font-baron
      position: absolute
      left: 35px
      top: 34px
      font-size: rem(26)
      line-height: 30px
      &::before
        position: absolute
        width: 24px
        height: 18px
        top: 6px
        background: $color-1
        color: $color-white
        content: "\f3d1"
        font-family: $font-ionicons
        font-size: rem(9)
        text-align: center
        line-height: 20px
        left: -35px
    &-list
      position: absolute
      font-size: rem(15)
      left: 33px
      top: 137px
      &>span
        display: block
        position: relative
        padding-left: 13px
        line-height: 1
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
        &::before
          position: absolute
          content: "\f125"
          font-family: $font-ionicons
          left: 0
          top: 2px
          line-height: 1
          color: $color-1
          font-size: rem(10)

.tab-content > .tab-pane, .pill-content > .pill-pane
  display: block
  height: 0
  overflow: hidden
.tab-content > .active, .pill-content > .active
  height: auto

.main-tab
  &__tab
    margin: 0 0 30px 0
    padding: 0
    border-bottom: 1px solid #dddddd
    font-family: $font-roboto-bold
    text-transform: uppercase
    font-size: rem(20)
    +clearfix
    &>li
      list-style: none
      margin: 0 50px 0 0
      float: left
      &:last-child
        margin-right: 0
      &>a
        position: relative
        display: block
        height: 43px
        line-height: 43px
        color: #747474
        text-decoration: none
        &::after
          content: ''
          left: 0
          right: 0
          bottom: -1px
          height: 3px
          background: transparent
          position: absolute
        &:hover
          text-decoration: none
          color: $color-1
      &.active
        &>a
          color: $color-1
          &::after
            background: $color-1
  &__block
    font-size: rem(14)
    margin-bottom: 30px
    &-date
      color: $color-1
      text-transform: uppercase
      font-size: rem(10)
      font-family: $font-roboto-bold
      margin-bottom: 3px
    p
      margin-bottom: 0
      line-height: 22px

.breadcrumbs
  margin: -30px 0 10px 0
  padding: 0
  font-size: rem(11)
  font-family: $font-roboto
  color: $color-2
  +clearfix
  &>li
    list-style: none
    margin: 0 0 5px 0
    display: inline-block
    &+li
      &::before
        content: "\f125"
        display: inline-block
        font-family: $font-ionicons
        font-size: rem(10)
        color: #b1b1b1
        margin-left: 5px
        margin-right: 7px
    &>a, &>span
      display: inline-block
    &>a
      color: $color-1

.document
  &__navigation
    background: $color-white
    border-radius: 4px
    overflow: hidden
    margin-bottom: 30px
    padding: 4px 0
    font-size: rem(14)
    font-family: $font-roboto
    ul
      margin: 0
      padding: 0
      &>li
        list-style: none
        margin: -1px 0 0 0
        &:first-child
          margin-top: 0
        &>a, &>span
          display: block
          border-bottom: 1px solid #e5e5e5
          color: $color-2
          min-height: 37px
          padding: 8px 10px 7px 26px
          &:hover, &:focus
            border-bottom-color: $color-1
            color: $color-white
            background: $color-1
            text-decoration: none
        &.active
          &>a, &>span
            border-bottom-color: $color-1
            color: $color-white
            background: $color-1
            text-decoration: none
        &:last-child
          &>a, &>span
            border-bottom: 0 !important

.banner
  margin-bottom: 30px
  img
    max-width: 100%
    height: auto
    display: block

.mfp-bg
  opacity: 1
  background: rgba($color-2,.3)
.popup
  position: relative
  background: $color-white
  padding: 20px 20px 27px 20px
  width: auto
  max-width: 290px
  margin: 20px auto
  border-radius: 4px
  // overflow: hidden
  box-shadow: 0 2px 20px rgba($color-2,.2)
  color: #444444
  .btn
    margin-bottom: 18px
  &__close
    cursor: pointer
    position: absolute
    right: 10px
    top: 10px
    color: #bebebe
    font-size: rem(18)
    line-height: 1
    padding: 5px
    transition: all 0.35s
    &:hover
      color: $color-2
  &__title
    color: $color-1
    font-size: rem(18)
    font-family: $font-baron
    line-height: 20px
    margin-bottom: 25px
    &--f16
      font-size: rem(16)
    .small
      display: block
      color: #858585
      font-size: rem(12)
      // text-transform: uppercase
      font-family: $font-roboto
      margin-top: 5px
  &__form-bottom
    background: #f3f4f7
    text-align: center
    font-size: rem(13)
    height: 70px
    margin: 23px -20px -27px -20px
    border-radius: 0 0 4px 4px
    padding-top: 18px
    strong
      font-size: rem(13)
      // font-family: $font-roboto
      display: block
      line-height: 1
      margin-bottom: 5px
      font-family: $font-roboto
    .link
      text-transform: uppercase
      font-family: $font-roboto-bold
      &:hover
        text-decoration: underline
  &__social
    &-head
      display: table
      width: 100%
      margin-bottom: 10px
      font-size: rem(12)
      &>*
        display: table-cell
        vertical-align: middle
      span
        padding: 0 5px
        white-space: nowrap
        color: $color-2
        width: 1px
      &::after, &::before
        display: table-cell
        content: ''
        background-image: linear-gradient(#e5e5e5, #e5e5e5)
        background-size: 100% 1px
        background-repeat: no-repeat
        background-position: center
    &-body
      text-align: center
      p
        font-size: rem(12)
        margin-bottom: 12px
      a
        display: inline-block
        margin: 0 5px
        opacity: 1
        width: 30px
        height: 30px
        border-radius: 4px
        position: relative
        overflow: hidden
        // background-color: #36729b
        transition: all 0.35s
        vertical-align: middle
        svg
          position: absolute
          display: block
          left: 50%
          top: 50%
          transform: translate(-50%,-50%)
        .path--color
          fill: $color-white
        &:hover
          opacity: 0.7
  &__info
    font-size: rem(12)
    p
      line-height: 15px
      margin-bottom: 10px
  &--big
    max-width: 415px
  &__bottom
    font-size: rem(13)
    background: #f3f4f7
    margin: 23px -20px -27px -20px
    padding: 20px
    border-radius: 0 0 4px 4px
    p
      line-height: 20px
      &:last-child
        margin-bottom: 0
  &__gallery
    position: relative
    overflow: hidden
    height: 240px
    display: flex
    justify-content: center
    align-items: center
    margin-top: -20px
    margin-bottom: 0px
  &__th
    width: 100%
    font-size: rem(12)
    font-family: $font-roboto
    margin-bottom: 10px
    th
      font-size: rem(15)
      font-family: $font-roboto-medium
      color: $color-1
      font-weight: 400
      padding-bottom: 10px
    td
      vertical-align: top
      padding-bottom: 10px
      &.last
        width: 1px
        white-space: nowrap
        font-family: $font-roboto-bold
        vertical-align: bottom
      &.first
        &>span
          // border-bottom: 1px dotted #aeaeae
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAIAAABol6gpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpiWLdu3f///x88eABkPHz4EI0NEGAAhSwZnIG1SuIAAAAASUVORK5CYII=') repeat-x left calc(100% - 3px)
          min-height: 14px
          display: block
          &>span
            background: $color-white
            // background: #f3f4f7
            display: inline-block
            max-width: 90%
    tr.separator
      td
        padding-bottom: 5px
  &__img
    margin-bottom: 10px
    img
      margin: 0 auto
      display: block
      max-width: 100%
      height: auto

.selectric
  &-wrapper
    position: relative
    cursor: pointer
  &-responsive
    width: 100%
  border: 0
  border-bottom: 1px solid #bebebe
  background: transparent
  position: relative
  border-radius: 0px
  .label
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin: 0 20px 0 0
    font-size: rem(12)
    line-height: 28px
    color: #444
    height: 28px
    font-family: $font-roboto-bold
    text-transform: uppercase
  .button
    background: none
    border-radius: 0px
    display: block
    position: absolute
    right: 0px
    top: 0
    bottom: 0
    margin: auto
    width: 30px
    height: 30px
    color: #444
    text-align: center
    font: 0/0 a
    &:after
      content: "\f35e"
      font-family: $font-ionicons
      position: absolute
      top: 0
      right: 12px
      bottom: 0
      left: inherit
      margin: auto
      width: 0
      height: 0
      border: 0
      color: #444444
      font-size: rem(14)
  &-focus .selectric
    border-color: #AAA
  &-hover .selectric
    border-color: #c4c4c4
    .button
      color: #c4c4c4
      &:after
        border-top-color: #c4c4c4
  &-open
    z-index: 9999
    .selectric
    .selectric-items
      display: block
  &-disabled
    filter: alpha(opacity = 50)
    opacity: 0.5
    cursor: default
    user-select: none
  &-hide-select
    position: relative
    overflow: hidden
    width: 0
    height: 0
    select
      position: absolute
      left: -100%
    &.selectric-is-native
      position: absolute
      width: 100%
      height: 100%
      z-index: 10
      select
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 100%
        width: 100%
        border: none
        z-index: 1
        box-sizing: border-box
        opacity: 0
  &-input
    position: absolute !important
    top: 0 !important
    left: 0 !important
    overflow: hidden !important
    clip: rect(0, 0, 0, 0) !important
    margin: 0 !important
    padding: 0 !important
    width: 1px !important
    height: 1px !important
    outline: none !important
    border: none !important
    *font: 0/0 a !important
    background: none !important
  &-temp-show
    position: absolute !important
    visibility: hidden !important
    display: block !important
  &-items
    display: none
    position: absolute
    top: 100%
    left: 0
    background: #F8F8F8
    border: 1px solid #C4C4C4
    z-index: -1
    box-shadow: 0 0 10px -6px
    .selectric-scroll
      height: 100%
      overflow: auto
  &-above .selectric-items
    top: auto
    bottom: 100%
  &-items
    ul
      list-style: none
      padding: 0
      margin: 0
      font-size: 12px
      line-height: 20px
      min-height: 20px
    li
      list-style: none
      padding: 0
      margin: 0
      font-size: 12px
      line-height: 20px
      min-height: 20px
      display: block
      padding: 8px
      border-top: 1px solid #FFF
      border-bottom: 1px solid #EEE
      color: #666
      cursor: pointer
      &.selected
        background: #EFEFEF
        color: #444
      &.highlighted
        background: #D0D0D0
        color: #444
      &:hover
        background: #F0F0F0
        color: #444
    .disabled
      filter: alpha(opacity = 50)
      opacity: 0.5
      cursor: default !important
      background: none !important
      color: #666 !important
      user-select: none
      display: none
    .selectric-group
      .selectric-group-label
        font-weight: bold
        padding-left: 10px
        cursor: default
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        background: none
        color: #444
      &.disabled li
        filter: alpha(opacity = 100)
        opacity: 1
      li
        padding-left: 25px
  &-selectric
    &--map
      max-width: 200px
      .label
        font-size: rem(26)
        font-family: $font-baron
        text-transform: lowercase

.table-notification
  width: 100%
  font-size: rem(12)
  margin-bottom: 10px
  td
    vertical-align: top
    padding-bottom: 12px
    &+td
      padding-left: 10px
      &:last-child
        padding-left: 17px
    span.span
      display: inline-block
      min-height: 12px
      padding-top: 0
  th
    font-weight: 400
    font-size: rem(10)
    position: relative
    span
      display: block
      transform: rotate(-90deg)
      transform-origin: 50%
      position: absolute
      right: -9px
      height: 12px
      line-height: 12px
      text-transform: uppercase
      bottom: 17px
      width: 31px
      text-align: left

.text-uppercase
  text-transform: uppercase !important

.news
  &__row
    font-size: rem(13)
    color: $color-2
    transition: color 0.35s
    border-bottom: 1px solid #e5e5e5
    margin-bottom: 20px
    padding-bottom: 20px
    &:hover
      color: #878787
    &-title
      a
        font-size: rem(15)
        font-family: $font-roboto-bold
        color: $color-2
        text-decoration: none
        display: inline-block
        line-height: 24px
        margin-bottom: 5px
        &:hover
          color: $color-1
          text-decoration: none
    &-date
      background: $color-1
      color: $color-white
      font-size: rem(10)
      white-space: nowrap
      height: 18px
      line-height: 18px
      padding: 0 10px
      margin-bottom: 10px
      display: inline-block
    p
      line-height: 22px
      &:last-child
        margin-bottom: 0

.faq
  &__row
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__title
    font-size: rem(15)
    line-height: 1.14
    margin-bottom: 10px
    font-family: $font-roboto-bold
  &__block
    margin-bottom: 2px
    border: 1px solid #f3f4f7
    background: #f3f4f7
    font-size: rem(13)
    transition: background 0.35s
    &.is-active
      background: $color-white
      .faq__block-title
        color: $color-1
        font-family: $font-roboto-bold
        i
          transform: rotate(-180deg)
    p
      line-height: 22px
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &.is-active
      margin-bottom: 10px
    &-answer
      padding: 5px 40px 10px 20px
      display: none
    &-title
      padding: 8px 40px 7px 20px
      cursor: pointer
      position: relative
      min-height: 35px
      i
        color: $primary-color
        font-size: rem(14)
        transform: rotate(0)
        transition: transform 0.35s
        display: inline-block
        position: absolute
        right: 15px
        top: 12px
        color: $color-1
        line-height: 1
        transform-origin: 50%

.table__prices
  width: 100%
  font-size: rem(14)
  margin-bottom: 20px
  &>tbody
    &>tr
      &>td
        padding: 8px
        line-height: 1.42857143
        vertical-align: top
        border-bottom: 2px solid $color-white
        background: #f3f4f7
        &:first-child
          padding-left: 25px

.search
  margin-bottom: 30px
  &__form
    position: relative
    +clearfix
  &__input
    width: 100%
    border: 0
    height: 30px
    padding: 0 30px 0 0
    border-bottom: 1px solid $color-1
    background: none
    color: $color-1
    font-family: $font-roboto-bold
    font-size: rem(15)
  &__btn
    background: none
    float: right
    border: 0
    height: 30px
    width: 30px
    position: relative
    color: #bcbcbc
    font-size: rem(20)
    margin-top: -31px
    // background: pink
    i
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      line-height: 1
  &__info
    font-size: rem(13)
    border: 2px solid $color-1
    border-radius: 4px
    background: $color-white
    color: #444444
    margin-bottom: 30px
    padding: 20px 24px 24px 24px
    p
      line-height: 18px
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0

.product-table
  &__row
    margin-bottom: 15px
    &.is-toggle
      .product-table__table
        .table
          &>tbody
            &>tr
              display: none
              &:first-child
                display: table-row
  &__title
    font-size: rem(15)
    font-family: $font-roboto-bold
    text-transform: uppercase
    color: $color-1
    line-height: 24px
    margin-bottom: 0px
    +clearfix
    &--orders
      color: $color-2
      text-transform: none
      margin-bottom: 18px
      strong
        float: left
  &__table
    [role*="grid"], .product-table__datatables, .table--width100
      width: 100% !important
      border-bottom: 0 !important
    .table
      border-collapse: inherit
      font-size: rem(12)
      width: 100%
      &--product-name, &--product-info
        display: none
      .table
        margin-bottom: 0
      &>thead
        &>tr
          &>th
            font-weight: 400
            text-align: left
            color: #8c8c8c
            font-family: $font-roboto
            text-transform: uppercase
            padding: 13px 10px 13px 10px
            border-bottom: 1px solid #dcdcdc
            font-size: rem(11)
            width: auto !important
            &.no-sort
              background: none
              cursor: default
      &>tbody
        &>tr
          &>td
            border-top: 1px solid $color-white
            border-bottom: 1px solid #dcdcdc
            background: $color-white
            transition: all 0.35s
            height: 36px
            vertical-align: top
            padding: 9px 10px
            box-sizing: border-box
          &:hover
            &>td
              background: #f3f4f7
              border-bottom-color: #f3f4f7
              border-top-color: #fff
      &>tfoot
        &>tr
          &>td
            padding: 9px 10px
            border-top: 0
  &__td
    &-1
      font-size: rem(12)
      text-align: right
      color: #24b91c
      padding-left: 20px !important
      padding-right: 0 !important
      width: 1px !important
    &-2
      padding-left: 9px
      font-family: $font-roboto-medium
      i
        font-family: $font-roboto-light
        font-style: italic
        color: #6f6f6f
        display: inline-block
    &-3
      font-family: $font-roboto-medium
      a
        color: $color-2
        &:hover, &:focus
          color: $color-1
          text-decoration: none
    &-4
      color: #b7b7b7
      font-size: rem(12)
      white-space: nowrap
      i
        display: inline-block
        &+i
          margin-left: 8px
    &-5
      font-family: $font-roboto-medium
      white-space: nowrap
      i
        color: #24b91c
        font-size: rem(10)
        margin-right: 10px
    &-6
      font-family: $font-roboto-medium
      white-space: nowrap
    &-7
      font-family: $font-roboto-medium
      white-space: nowrap
      i
        color: #4d4d4d
        font-size: rem(11)
        vertical-align: 1px
    &-8
      width: 1px !important
      padding-right: 25px !important
    &-11
      width: 32px !important
    &-12
      white-space: nowrap
      font-family: $font-roboto-medium
      i
        color: #4d4d4d
        font-size: rem(11)
        vertical-align: 1px
  &__to-cart
    position: relative
    display: inline-block
    height: 18px
    top: 5px
    margin-top: -5px
    svg
      width: 20px
      height: 18px
      display: block
    .path--color
      fill: $color-2
    i
      display: none
      position: absolute
      top: -4px
      right: -4px
      line-height: 1
      font-size: rem(12)
      color: $color-2
    &.is-active
      i
        display: block
      .path--color
        fill: $color-1
  &__total
    background: #f3f4f7
    font-size: rem(14)
    padding: 14px 20px
    min-height: 50px
    margin-bottom: 20px
    +clearfix
    &-left
      float: left
      strong
        display: inline-block
    &-right
      float: right
      strong
        font-size: rem(20)
        display: inline-block
        margin-top: -4px
        margin-bottom: -2px
  &__link-delete
    font-size: rem(13)
    i
      color: $color-1
  &__link-message
    font-size: rem(15)
    color: $color-2
    i
      color: $color-2
    &:hover, &:focus
      color: $color-1
      i
        color: $color-1
  &__cart-p
    padding-top: 5px
  &--orders
    thead
      &>tr
        &>th
          background-color: #f3f4f7 !important
  &__roll
    &-up, &-down
      float: right
      font-family: $font-roboto
      text-transform: uppercase
      position: relative
      padding-left: 18px
      font-size: rem(11)
      display: inline-block
      line-height: 1
      margin-top: 6px
      height: 11px
      white-space: nowrap
      &:hover, &:focus
        text-decoration: none
      &::before
        content: "\f366"
        position: absolute
        line-height: 1
        left: 0
        top: -1px
        font-family: $font-ionicons
        font-size: rem(14)
    &-down
      &::before
        content: "\f35d"

.search-result
  &__head
    display: flex
    float: right
    align-items: center
    margin-top: -52px
    &>div
      &+div
        padding-left: 70px
    &--cart
      margin-top: -50px
  &__info
    font-size: rem(13)
    color: #535353
    white-space: nowrap
    i
      font-size: rem(14)
      color: #b7b7b7
      margin-left: 10px
      display: inline-block
      line-height: 1
      vertical-align: -1px
  &__sort
    position: relative
    padding-left: 85px
    label
      position: absolute
      left: 0
      margin: 0
      color: #535353
      font-size: rem(13)
      margin-top: 5px

.map
  &__head
    display: flex
    float: left
    margin-left: 270px
    margin-top: -52px
    &>div
      &+div
        margin-left: 25px
  &__body
    display: flex
    &-map
      width: 66.23%
      position: relative
    &-list
      margin-left: 30px
      width: 30.59%
    &-canvas
      position: relative
      width: 100%
      padding-bottom: 604px
      height: 0
      overflow: hidden
      border-radius: 4px
      iframe
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
  &__carousel
    // background: pink
    height: 567px
    padding: 37px 0
    position: relative
    margin-bottom: 37px
    &-prev, &-next
      width: 100%
      top: 0
      left: 0
      transform: translate(0)
      height: 35px
      background: #f3f4f7
      opacity: 1
      border: 0
      font-size: 0
      position: absolute
      &.slick-disabled
        opacity: 0.5
      &::before
        content: "\f126"
        color: $color-1
        font-size: rem(18)
        font-family: $font-ionicons
        position: absolute
        left: 50%
        transform: translateX(-50%)
        opacity: 1
        top: 7px
    &-next
      top: inherit
      bottom: -37px
      &::before
        content: "\f123"
        top: 5px
    &-block
      height: 36px !important
      background: #f3f4f7
      margin-bottom: 2px
      cursor: pointer
      font-size: rem(14)
      padding: 0 23px
      float: none
      &>div
        line-height: 36px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      &:focus
        outline: none
      &.is-active
        background: $color-1
        color: $color-white
  &__popup
    position: absolute
    left: 22px
    top: 22px
    z-index: 100
    border-radius: 4px
    background: rgba($color-1,.85)
    color: $color-white
    max-width: 313px
    font-size: rem(14)
    padding: 17px 20px 20px 20px
    &-close
      position: absolute
      top: 15px
      right: 15px
      color: #971723
      z-index: 10
      cursor: pointer
      &::before
        content: "\f12a"
        font-family: $font-ionicons
        display: block
        line-height: 1
    p
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
    .small
      font-size: rem(12)

.cart
  &__count
    width: 60px
    position: relative
    padding: 0 11px
    // background: pink
    input
      font-size: rem(12)
      color: $primary-color
      background: none
      border: 0
      text-align: center
      font-family: $font-roboto-medium
      background: transparent
      width: 100%
    &__div
      position: absolute
      top: 2px
      left: 0
      cursor: pointer
      line-height: 1
      color: $color-1
      &::after
        content: "\f48a"
        font-family: $font-ionicons
        font-size: rem(12)
      &--down
        left: inherit
        right: 0
        &::after
          content: "\f463"
          bottom: inherit

.catalog
  margin-bottom: 20px
  &__row
    border-top: 1px solid #e5e5e5
    padding: 20px 0
    &:last-child
      border-bottom: 1px solid #e5e5e5
    &-wrapper
      display: flex
    &-img
      flex-shrink: 0
      width: 135px
      img
        margin: 0 auto
    &-content
      width: calc(100% - 135px)
      padding-left: 30px
    &-title
      font-size: rem(14)
      margin-bottom: 15px
      a
        font-family: $font-roboto-bold
        color: $color-2
        &:hover, &:focus
          color: $color-1
          text-decoration: none
      small
        font-size: rem(12)
        display: block
        margin-top: 3px
    &-table
      // margin-bottom: 20px
      font-family: $font-roboto-bold
      font-size: rem(12)
      tbody
        &>tr
          &>td
            vertical-align: top
            padding-bottom: 2px
            &:first-child
              font-family: $font-roboto
              width: 75px
              padding-right: 10px
              white-space: nowrap
          &:last-child
            &>td
              padding-bottom: 0

    &-btn
      float: right
      width: 240px
      min-width: inherit
      margin-top: -30px
  &__sort
    position: relative
    display: flex
    float: right
    label
      left: 0
      margin: 0
      color: #535353
      font-size: rem(13)
      margin-top: 5px
      margin-right: 15px
    .selectric
      &-wrapper
        display: inline-block
      .label
        width: 25px
    &--right
      float: right
  &__mobile-btn
    display: none
    position: absolute
    left: -32px
    top: -5px
    background: $color-1
    color: $color-white
    width: 35px
    height: 35px
    border-radius: 4px
    overflow: hidden
    border: 0
    padding: 0
    i
      font-size: rem(20)
      position: absolute
      display: block
      line-height: 1
      left: 10px
      top: 7px
    &--filter
      left: inherit
      right: -32px
      top: 20px
      width: 32px
      border-radius: 0 4px 4px 0
      i
        left: 9px
        font-size: rem(20)
  &__head
    position: relative

.pagination
  font-size: rem(12)
  // margin-bottom: 20px
  +clearfix
  ul
    margin: 0
    padding: 0
    vertical-align: middle
    &>li
      list-style: none
      margin: 0
      float: left
      &>span, &>a
        display: inline-block
        height: 30px
        line-height: 30px
        width: 30px
        text-align: center
        border-radius: 50%
        background: transparent
        color: $color-2
      &>a
        &:hover, &:focus
          background: $color-1
          color: $color-white
          text-decoration: none
      &.active
        &>span, &>a
          background: $color-1
          color: $color-white
  &--catalog
    float: left

.filter
  font-family: $font-roboto
  font-size: rem(13)
  color: $primary-color
  position: relative
  z-index: 20
  background: $color-white
  padding: 20px 0
  transform: translateX(0)
  // overflow: hidden
  border-radius: 4px
  margin-bottom: 30px
  &__block
    margin-bottom: 25px
    border-bottom: 1px solid #e5e5e5
    padding: 0 25px 20px 25px
    &:last-child
      margin-bottom: 0
      border-bottom: 0
      padding-bottom: 0
    &.has-hide
      margin-bottom: 0
      border-bottom: 0
      padding-bottom: 0
  &__head
    color: #444444
    margin-bottom: 10px
    font-size: rem(15)
    font-family: $font-roboto-bold
    text-transform: uppercase
    position: relative
    padding-right: 8px
    &::after
      position: absolute
      right: -3px
      top: 2px
      color: $color-1
      content: "\f35d"
      font-size: rem(14)
      font-family: $font-ionicons
    &--no-after
      &::after
        display: none
  &__row
    input[type=checkbox]
      display: none
      &:checked
        &~.checkbox
          &::after
            color: $color-1
            content: "\f373"
        &~.label
          color: #444444
          // font-family: $font-roboto-bold
      &:disabled
        &~.checkbox
          &::after
            content: "\f372"
        &~.label
          color: $color-808080
          text-decoration: line-through
    font-weight: 400
    display: block
    cursor: pointer
    padding: 0 50px 0 22px
    position: relative
    margin: 0 0 8px 0
    line-height: 1.2
    .checkbox
      height: 10px
      width: 10px
      position: absolute
      display: block
      margin: 0
      left: 1px
      top: 3px
      &::after
        font-family: $font-ionicons
        content: "\f372"
        position: absolute
        font-size: rem(14)
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        color: #858585
        font-weight: 400
    &:hover
      .label
        color: #444444
    &.unactive
      cursor: default
    .number
      position: absolute
      right: 0
      top: 1px
      font-size: rem(13)
      color: #bebebe
      line-height: 1
  &__more
    // position: absolute
    width: 100%
    text-align: left
    text-transform: none
    font-weight: 400
    font-size: rem(13)
    padding: 0 25px 20px 25px
    border-bottom: 1px solid #dedede
    margin-bottom: 25px
  &__text
    color: #767676
  &__table
    display: table
    margin-bottom: 10px
    &>div
      display: table-cell
      vertical-align: middle
      &+div
        padding-left: 10px
  &__slider
    padding-bottom: 28px
    padding-top: 8px
  &__cost
    font-size: rem(12)
    font-weight: 400
    color: #858585
    font-family: $font-roboto
    width: 100%
    .div-cell
      vertical-align: middle
      border-bottom: 1px solid #bebebe
      &+.div-cell
        padding-left: 20px
    &-btn
      width: 58px
      min-width: inherit
      padding: 0

  input
    width: 100%
    background: none
    text-align: center
    font-weight: 600
    color: $primary-color
    padding: 0
    font-family: $font-roboto-bold
    font-size: rem(12)
    height: 30px
    line-height: 28px
    border: 0
    &:focus
      border: 0
      box-shadow: none
  .icon-rouble
    font-size: rem(18)
    position: relative
    top: 2px
    &::before
      margin: 0
      width: auto

.ui-widget.ui-widget-content
  border: 0
  height: 2px
  border-radius: 0
  background: #e6e6e6
.ui-slider-horizontal .ui-slider-range
  background: $color-1
  height: 2px
  margin-top: 0px
.ui-slider .ui-slider-handle
  height: 18px
  width: 18px
  border-radius: 50%
  background: $color-1
  border: 2px solid $color-1
  top: -8px
  cursor: pointer
  z-index: 10
  &:focus
    outline: none

.price-range-min, .price-range-max
  font-size: rem(10)
  color: $color-1
  position: absolute
  left: 50%
  transform: translateX(-50%)
  top: -21px
  font-family: $font-roboto-bold
  // width: 30px
  z-index: 10
  background-color: $color-white
  display: block

.price-range-max
  text-align: right

.range__zero-min, .range__zero-max
  font-size: rem(10)
  color: #a9a9a9
  position: absolute
  margin-top: 8px
  z-index: 5
  font-family: $font-roboto-bold
.range__zero-max
  right: 0

.div
  &-table
    display: table
  &-cell
    display: table-cell
    vertical-align: top
    &--w1
      width: 1px !important

.uc
  &__balance
    margin: 0 -15px
    +clearfix
    &-content
      float: left
      padding: 0 15px
      width: calc(100% - 459px)
    &-right
      float: left
      padding: 0 15px
      width: calc(100% - 657px)
    &-info
      border-radius: 4px
      background: #f3f4f7
      margin-bottom: 30px
      overflow: hidden
      padding: 24px
      font-size: rem(13)
      p
        line-height: 18px
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
      &-title
        text-transform: uppercase
        color: $color-1
        font-size: rem(15)
        font-family: $font-roboto-bold
        margin-bottom: 15px
    &-payment
      background: #f3f4f7
      overflow: hidden
      border-radius: 4px
      padding: 15px
      display: flex
    &-tab
      margin: 0
      padding: 0
      width: 148px
      flex-shrink: 0
      li
        list-style: none
        display: block
        width: 100%
        margin: 0
        &>a
          display: block
          height: 57px
          border-radius: 4px 0 0 4px
          position: relative
          &>span
            display: flex
            height: 57px
            max-width: 104px
            justify-content: center
            align-items: center
            img
              max-width: 100%
          &::after
            width: 10px
            top: 0
            bottom: 0
            background: $color-white
            position: absolute
            content: ''
            right: -5px
            opacity: 0
            visibility: hidden
            transition: opacity 0.35s
        &.active
          &>a
            background: $color-white
            &::after
              opacity: 1
              visibility: visible
    &-form
      flex-shrink: 0
      width: calc(100% - 148px)
      background: $color-white
      border-radius: 4px
      padding: 20px
    &-label
      color: #232323
      font-family: $font-roboto-bold
      display: block
      margin-bottom: 25px
      font-size: rem(14)
    .form-control
      margin-bottom: 25px
  &__line
    margin-bottom: 90px
    height: 69px
    &-div
      position: absolute
      left: 0
      right: 0
      height: 69px
      background:
        image: url('../img/vin-separator.png')
        repeat: no-repeat
        position: center center
  &__vin
    &-top
      margin-bottom: 40px
      +clearfix
      &-left
        float: left
        max-width: 430px
        width: 100%
        border-radius: 4px
        background: #f3f4f7
        padding: 24px 20px 26px 20px
        margin-bottom: 0px
        .form
          max-width: 288px
          margin: 0 auto
      &-right
        float: right
        width: 100%
        max-width: 235px
    &-auto
      width: 100%
      max-width: 235px
      &-title
        color: $color-1
        font-family: $font-roboto-bold
        text-transform: uppercase
        font-size: rem(15)
        margin-bottom: 5px
        line-height: 1.2
      &-untitle
        color: $color-2
        line-height: 1.2
        font-size: rem(12)
        margin-bottom: 25px
        text-transform: uppercase
        font-family: $font-roboto-bold
      &-img
        margin-bottom: 20px
        padding-left: 20px
        img
          max-width: 100%
          height: auto
          display: block
    &-bottom
      +clearfix
      &-left
        float: left
        max-width: 430px
        width: 100%
        border-radius: 0
        background: none
        padding: 0
        margin-bottom: 0px
      &-right
        float: right
        width: 100%
        max-width: 235px
  &__orders
    &-none
      margin-bottom: 35px
      text-align: center
      border-radius: 4px
      background: #f3f4f7
      font-size: rem(14)
      min-height: 60px
      padding: 20px 10px
    &-tab
      margin: 0 0 30px 0
      padding: 0
      border-bottom: 1px solid #dddddd
      font-family: $font-roboto-bold
      text-transform: uppercase
      font-size: rem(15)
      +clearfix
      &>li
        list-style: none
        margin: 0 40px 0 0
        float: left
        &:last-child
          margin-right: 0
        &>a
          position: relative
          display: block
          height: 55px
          line-height: 55px
          color: #444
          text-decoration: none
          &::after
            content: ''
            left: 0
            right: 0
            bottom: -1px
            height: 3px
            background: transparent
            position: absolute
          &:hover
            text-decoration: none
            color: $color-1
        &.active
          &>a
            color: $color-1
            &::after
              background: $color-1
  &__garage
    &-top
      +clearfix
      &-right
        float: right
        width: 430px
        border-radius: 4px
        background: #f3f4f7
        padding: 24px 20px 26px 20px
        margin-bottom: 0px
        .form
          max-width: 288px
          margin: 0 auto
    &-bottom
      +clearfix
      &-right
        float: right
        width: 430px
        border-radius: 4px
        background: #f3f4f7
        padding: 24px 20px 26px 20px
        margin-bottom: 0px
        .form
          max-width: 288px
          margin: 0 auto
      &-left
        float: left
        width: calc(100% - 460px)
        margin-right: 30px
        display: flex
        &>div
          &+div
            padding-left: 30px
            padding-top: 22px
    &-th
      width: 100%
      font-size: rem(12)
      font-family: $font-roboto
      th
        font-size: rem(15)
        font-family: $font-roboto-medium
        color: $color-1
        font-weight: 400
        padding-bottom: 10px
      td
        vertical-align: top
        padding-bottom: 10px
        &.last
          width: 1px
          white-space: nowrap
          font-family: $font-roboto-bold
          vertical-align: bottom
          font-size: rem(14)
        &.first
          width: 165px
          &>span
            // border-bottom: 1px dotted #aeaeae
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAIAAABol6gpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpiWLdu3f///x88eABkPHz4EI0NEGAAhSwZnIG1SuIAAAAASUVORK5CYII=') repeat-x left calc(100% - 3px)
            min-height: 14px
            display: block
            &>span
              background: $color-white
              // background: #f3f4f7
              display: inline-block
              max-width: 90%
              white-space: nowrap
      tr.separator
        td
          padding-bottom: 5px
