doctype

html(lang="ru")
  
  -var active = 'Документ' //активный пункт меню, список в header.jade
  -var pageTitle = 'Документ' + ' - Vector' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        ul.breadcrumbs
          li
            a(href="#!") Интернет-магазин VECTОR
          li
            span Название страницы 
        
        .row
          .col-sm-4.col-sm-push-8
            
            .document__navigation
              ul
                li: a(href="#!") Новости
                li: a(href="#!") Пресс релизы
                li: a(href="#!") Акции
                li: a(href="#!") Анонсы
                li.active: a(href="#!") Статьи
            
            .banner.hidden-xs
              a(href="#!")
                img(src="./img/banner-360-270.png", alt="")
          
          .col-sm-8.col-sm-pull-4
            
            .content__wrapper
              
              .content__head
                h1 Компания Delphi продемонстрировала новинки продукции для систем торможения и рулевого управления на выставке Equip Auto 2017
              p
                strong Увеличенный ассортимент продукции Delphi для систем торможения и рулевого управления предоставляет новые бизнес-возможности для дистрибьюторов и автомастерских.
              p(style="text-align: center")
                img(src="./img/img-document.jpg", alt="").img-responsive
              p Компания Delphi представила свои новейшие продукты для систем торможения и рулевого управления на выставке Equip Auto 2017. На стенде компании демонстрировались тормозные диски, сертифицированные по стандарту R90, большой ассортимент дисков с покрытием и колодок без содержания меди, новая линейка ремкомплектов направляющих суппорта и множество новых компонентов системы рулевого управления.
              p «Наши основные приоритеты — высочайшее качество продукции и максимальная простота и удобство обслуживания. Наши последние новинки для систем торможения и рулевого управления подтверждают это, — говорит Жан-Франсуа Бувейрон (Jean-Francois Bouveyron), вице-президент Delphi Product & Service Solutions в регионе EMEA. — Недавно представленные диски с покрытием, диски, сертифицированные по стандарту R90, более 300 новых компонентов для систем рулевого управления — мы предлагаем исчерпывающий ассортимент простых в установке компонентов для рынка послепродажного обслуживания автомобилей, которые соответствуют тем же стандартам производительности, стабильности и долговечности, что и аналогичное оригинальное оборудование».
              p Тормозные диски Delphi для автомобилей, выпущенных после 1 ноября 2016 года, в обязательном порядке подвергаются тщательному тестированию на соответствие стандарту R90 для последующего получения данной сертификации. Также Delphi сертифицирует уже существующие диски, предназначенные для более старых моделей автомобилей — это еще одно доказательство приверженности высочайшим стандартам качества.
        
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
