doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Vector' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        ul.breadcrumbs
          li
            a(href="#!") Интернет-магазин VECTОR
          li
            span Название страницы 
        
        .row
          .col-sm-4.col-sm-push-8
            
            .document__navigation
              ul
                li: a(href="#company-history") Краткая история группы компаний
                li: a(href="#!") О проекте
                li: a(href="#!") VECTOR.ru сегодня
                li: a(href="#!") Наш склад
                li: a(href="#!") Наш автопарк
                li: a(href="#!") Наши партнёры
            
            .banner.hidden-xs
              a(href="#!")
                img(src="./img/banner-360-270.png", alt="")
          
          .col-sm-8.col-sm-pull-4
            
            .content__wrapper
              
              .content__head
                h1 о компании
              
              .content__title Краткая история группы компаний
              p Vector.ru - крупнейшая федеральная сеть по продаже автозапчастей, комплектующих и аксессуаров. Сегодня в Vector трудится свыше 2 500 человек: профессионалов высочайшего класса, обладающих уникальной квалификацией в подборе надёжных деталей для Вашего автомобиля. Проект стартовал в начале 2017 г. в режиме обслуживания оптовых покупателей (В2В), но уже в мае этого же года начал работу с розничными клиентами.
              p На сегодняшний день функционал Vector.ru обеспечивается рядом юридических лиц. Многие из них - в частности, основная операционная структура группы, компания “APM” (ООО), - имеют более чем 20-летний опыт работы.
              
              .content__title Среди наиболее значимых этапов нашей деятельности стоит отметить:
              table.content__table
                tr
                  td(valign="top")
                    .content__date 2000
                  td(valign="top") 
                    p
                      i.hidden-xxs Строительство собственного современного логистического центра отвечающего требованиям динамично развивающейся компании
                      i.visible-xxs Строительство собственного центра 
                tr
                  td(valign="top")
                    .content__date 2006
                  td(valign="top") 
                    p 
                      i.hidden-xxs Переход на новое современное ПО (SAP ERP и EWM)
                      i.visible-xxs Переход на новое ПО 
                tr
                  td(valign="top")
                    .content__date 2010
                  td(valign="top") 
                    p 
                      i.hidden-xxs Продажа 50% доли в IT-подразделении холдинга 
                      i.visible-xxs Продажа 50% доли
                tr
                  td(valign="top")
                    .content__date 2017
                  td(valign="top") 
                    p 
                      i.hidden-xxs Май. Вывод на рынок нового инновационного портала Vector.ru
                      i.visible-xxs Май. Вывод на рынок 
              
              .content__title О проекте
              p Проектная мощность сети Vector - свыше 300 розничных точек во всех регионах России, Белоруссии и Украины. Общее число розничных магазинов сети планируется довести до плановых показателей в течение года с момента запуска, начиная со 131 торговых точек (по состоянию на 1 мая 2017 г.), за счёт открытия собственных магазинов и привлечения партнёров-франчайзи.
              
              .content__title Vector.ru сегодня
              p Мы компания, стремящаяся стать незаменимым помощником для всех автовладельцев, умеющих считать деньги и ценящих своё время. Профессионализм сотрудников, накопленный опыт и стремление к высоким стандартам обслуживания - принципы, которые определяют ежедневную работу всех сотрудников Vector.ru.
              
              .content__title Наш склад
              p Инновационный складской терминал общей площадью 24 000 кв м. Современное оборудование позволяет хранить более 400 000 SKU (уникальных категорий товара) одновременно и обрабатывать на вход и выход до 18 000 единиц товара в час.
            
        
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
