doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Vector' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        .main-catalog.row
          .col-sm-8
            a(href="#!").main-catalog__block
              +catalogImgV
              img(src="./img/catalog-category-img-1-2x.png", alt="").main-catalog__block-img
              span.main-catalog__block-title каталог 
                br
                | запчастей
              span.main-catalog__block-list
                span Оригинальные
                span Универсальные
          .col-sm-4
            a(href="#!").main-catalog__block
              +catalogImgV
              img(src="./img/catalog-category-img-2.png", alt="").main-catalog__block-img
              span.main-catalog__block-title запчасти 
                br
                | для то
          .col-sm-4
            a(href="#!").main-catalog__block
              +catalogImgV
              img(src="./img/catalog-category-img-3.png", alt="").main-catalog__block-img
              span.main-catalog__block-title моторные 
                br
                | масла
          .col-sm-4
            a(href="#!").main-catalog__block
              +catalogImgV
              img(src="./img/catalog-category-img-4.png", alt="").main-catalog__block-img
              span.main-catalog__block-title шины и 
                br
                | диски
          .col-sm-4
            a(href="#!").main-catalog__block
              +catalogImgV
              img(src="./img/catalog-category-img-5.png", alt="").main-catalog__block-img
              span.main-catalog__block-title лампы
        
        .main-slider
          .main-slider__block
            a(href="#!")
              img(src="./img/main-banner-1.jpg", alt="").img-responsive
          .main-slider__block
            a(href="#!")
              img(src="./img/main-banner-1.jpg", alt="").img-responsive
          .main-slider__block
            a(href="#!")
              img(src="./img/main-banner-1.jpg", alt="").img-responsive
          .main-slider__block
            a(href="#!")
              img(src="./img/main-banner-1.jpg", alt="").img-responsive

        .main-tab
          ul(role='tablist').main-tab__tab
            li.active(role='presentation')
              a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') НОВОСТИ
            li(role='presentation')
              a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') ПРЕСС-РЕЛИЗЫ 
            li(role='presentation')
              a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') АКЦИИ
            li(role='presentation')
              a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') СТАТЬИ
            li(role='presentation')
              a(href='#tab5', aria-controls='tab5', role='tab', data-toggle='tab') АНОНСЫ
  
          .tab-content
            #tab1.tab-pane.active(role='tabpanel')
              
              .row
                .col-md-4.col-sm-6
                  .main-tab__block
                    .main-tab__block-date 29 декабря 2017
                    p Ассортимент свечей накаливания DENSO пополнился 10 новыми наименованиями
                .col-md-4.col-sm-6
                  .main-tab__block
                    .main-tab__block-date 03 января 2018
                    p Каталог ТО пополнен моделями Porsche Cayenne II, Nissan X-Trail 2.2 dCi 4WD, Nissan X-Trail 2.2 dCi, Mercedes E седан II E 240, E 270, E 320, E 430 4-matic
                .col-md-4.hidden-sm.hidden-xs
                  .main-tab__block
                    .main-tab__block-date 13 января 2018
                    p Компания Delphi предлагает расширенную поддержку в области новейших технологий силовых агрегатов
              
              .text-center
                a(href="#!").btn Все новости
              
            #tab2.tab-pane(role='tabpanel') 2
            #tab3.tab-pane(role='tabpanel') 3
            #tab4.tab-pane(role='tabpanel') 4
            #tab5.tab-pane(role='tabpanel') 4

    
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
