doctype

html(lang="ru")
  
  -var active = 'Часто задаваемые вопросы' //активный пункт меню, список в header.jade
  -var pageTitle = 'Часто задаваемые вопросы' + ' - Vector' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        ul.breadcrumbs
          li
            a(href="#!") Интернет-магазин VECTОR
          li
            span Название страницы 
        
        .row
          .col-sm-4.col-sm-push-8
            
            .document__navigation
              ul
                li: a(href="#!") Новости
                li: a(href="#!") Пресс релизы
                li: a(href="#!") Акции
                li: a(href="#!") Анонсы
                li.active: a(href="#!") Статьи
            
            .banner.hidden-xs
              a(href="#!")
                img(src="./img/banner-360-270.png", alt="")
          
          .col-sm-8.col-sm-pull-4
            
            .content__wrapper
              
              .content__head
                h1 Часто задаваемые вопросы
              
              .faq
                .faq__row
                  .faq__title Поиск и выбор товара
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | В каталогах
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | По номеру автозапчасти
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | По номеру автомобиля (VIN)
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Всё о запчастях
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
              
                .faq__row
                  .faq__title Устранение неполадок
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Как удалить файлы "cookies"?
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Как включить "JavaScript"?
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Как включить "cookies"?
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
              
                .faq__row
                  .faq__title Оформление заказов
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Как оформить заказ
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                
                .faq__row
                  .faq__title Оплата и доставка
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Оплата
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Доставка заказа
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Возврат денежных средств
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
              
                .faq__row
                  .faq__title Интернет-магазин
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Регистрация
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Корзина
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Заказы
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
              
                .faq__row
                  .faq__title Другие
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Условия возврата и гарантии
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
                  .faq__block
                    .faq__block-title
                      i.ion-chevron-down
                      | Бонусы
                    .faq__block-answer
                      p В интернет-магазине возможно начисление бонусов. Сумма бонусов указана на карточке товара. Для начисления бонусов необходимо указать номер бонусной карты при оформлении заказа. На жаль, воспользоваться бонусами можно только в розничных магазинах сети, оплатить покупку в интернет-магазине нет возможности, но она появится в ближайшее время. Акционные предложения действуют исключительно в розничных магазинах сети.
              
        
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
