doctype

html(lang="ru")
  
  -var active = 'Результат поиска' //активный пункт меню, список в header.jade
  -var pageTitle = 'Результат поиска' + ' - Vector' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        
        ul.breadcrumbs
          li
            a(href="#!") Интернет-магазин VECTОR
          li
            span Название страницы 
        
        .row
          .col-md-12
            
            .content__wrapper
              
              .content__head
                h1 результат по поиску
              
              .search-result__head
                div
                  .search-result__sort
                    label Сортировка
                    select.selectric
                      option(value="по популярности") по популярности
                      option(value="по названию") по названию
                div.hidden-xxs
                  .search-result__info Уровень цен
                    i.ion-ios-information
              
              .clear
              
              .product-table.product-table--search
                .product-table__row
                  .product-table__title ЗАПРОШЕННЫЙ АРТИКУЛ
                  .product-table__table
                    table.product-table__datatables.table
                      thead
                        tr
                          th(data-orderable="false").no-sort
                          th бренды
                          th.hidden-sm.hidden-xs(data-orderable="false") наименование
                          th.hidden-sm.hidden-xs(data-orderable="false") ИНФО
                          th.hidden-sm.hidden-xs(data-orderable="false") ОЖИД. СРОК
                          th.hidden-sm.hidden-xs(data-orderable="false") В НАЛИЧИИ
                          th.hidden-sm.hidden-xs(data-orderable="false") ЦЕНА
                          th.hidden-sm.hidden-xs(data-orderable="false")
                      tbody
                        +searchTr
                        +searchTr
                      tfoot
                        tr
                          td(colspan="8" align="right")
                            a(href="#!") Еще предложения (22)
        
                .product-table__row
                  .product-table__title ПРЕДЛОЖЕНИЯ ПО ОРИГИНАЛЬНЫМ ПРОИЗВОДИТЕЛЯМ
                  .product-table__table
                    table.product-table__datatables.table
                      thead
                        tr
                          th(data-orderable="false").no-sort
                          th бренды
                          th.hidden-sm.hidden-xs(data-orderable="false") наименование
                          th.hidden-sm.hidden-xs(data-orderable="false") ИНФО
                          th.hidden-sm.hidden-xs(data-orderable="false") ОЖИД. СРОК
                          th.hidden-sm.hidden-xs(data-orderable="false") В НАЛИЧИИ
                          th.hidden-sm.hidden-xs(data-orderable="false") ЦЕНА
                          th.hidden-sm.hidden-xs(data-orderable="false")
                      tbody
                        +searchTr
                        +searchTr
                      tfoot
                        tr
                          td(colspan="8" align="right")
                            a(href="#!") Еще предложения (22)
        
                .product-table__row
                  .product-table__title ПРЕДЛОЖЕНИЯ ПО НЕ ОРИГИНАЛЬНЫМ ПРОИЗВОДИТЕЛЯМ
                  .product-table__table
                    table.product-table__datatables.table
                      thead
                        tr
                          th(data-orderable="false").no-sort
                          th бренды
                          th.hidden-sm.hidden-xs(data-orderable="false") наименование
                          th.hidden-sm.hidden-xs(data-orderable="false") ИНФО
                          th.hidden-sm.hidden-xs(data-orderable="false") ОЖИД. СРОК
                          th.hidden-sm.hidden-xs(data-orderable="false") В НАЛИЧИИ
                          th.hidden-sm.hidden-xs(data-orderable="false") ЦЕНА
                          th.hidden-sm.hidden-xs(data-orderable="false")
                      tbody
                        +searchTr
                        +searchTr
                      tfoot
                        tr
                          td(colspan="8" align="right")
                            a(href="#!") Еще предложения (22)
        
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
