// Catalog filter
.filter#filters
  button(type="button").catalog__mobile-btn.catalog__mobile-btn--filter
    i.ion-android-close
  form(action="#!" method="get")
    .filter__body
      
      .filter__block
        .filter__head Производитель
        label.filter__row(for="manufacture__0")
          input(type="checkbox" name="f_manufacture[]" checked)#manufacture__0
          span.checkbox
          span.label Азмол
          span.number 354
        label.filter__row(for="manufacture__1")
          input(type="checkbox" name="f_manufacture[]")#manufacture__1
          span.checkbox
          span.label Башнефть
          span.number 6545
        label.filter__row(for="manufacture__2")
          input(type="checkbox" name="f_manufacture[]")#manufacture__2
          span.checkbox
          span.label ГАЗ
          span.number 467
        label.filter__row(for="manufacture__3")
          input(type="checkbox" name="f_manufacture[]")#manufacture__3
          span.checkbox
          span.label Газпром
          span.number 467
        label.filter__row(for="manufacture__4")
          input(type="checkbox" name="f_manufacture[]" disabled)#manufacture__4
          span.checkbox
          span.label Газпром нефть
          span.number 353
        label.filter__row(for="manufacture__5")
          input(type="checkbox" name="f_manufacture[]" disabled)#manufacture__5
          span.checkbox
          span.label Зубр 
          span.number 577
          
      .filter__block
        .filter__head Страна производитель
        label.filter__row(for="country__0")
          input(type="checkbox" name="f_country[]" checked)#country__0
          span.checkbox
          span.label Беларусь
          span.number 354
        label.filter__row(for="country__1")
          input(type="checkbox" name="f_country[]" disabled)#country__1
          span.checkbox
          span.label Бельгия
          span.number 6545
        label.filter__row(for="country__2")
          input(type="checkbox" name="f_country[]")#country__2
          span.checkbox
          span.label Великобритания
          span.number 467
        label.filter__row(for="country__3")
          input(type="checkbox" name="f_country[]" checked)#country__3
          span.checkbox
          span.label Гватемала
          span.number 467
        label.filter__row(for="country__4")
          input(type="checkbox" name="f_country[]" checked)#country__4
          span.checkbox
          span.label Германия
          span.number 353
        label.filter__row(for="country__5")
          input(type="checkbox" name="f_country[]")#country__5
          span.checkbox
          span.label Дания 
          span.number 577
          
      .filter__block.has-hide
        .filter__head Вид масла
        label.filter__row(for="type__0")
          input(type="checkbox" name="f_type[]")#type__0
          span.checkbox
          span.label Синтетическое
          span.number 354
        label.filter__row(for="type__1")
          input(type="checkbox" name="f_type[]")#type__1
          span.checkbox
          span.label Минеральное
          span.number 6545
        label.filter__row(for="type__2")
          input(type="checkbox" name="f_type[]")#type__2
          span.checkbox
          span.label Полусинтетическое
          span.number 467
        label.filter__row(for="type__3")
          input(type="checkbox" name="f_type[]")#type__3
          span.checkbox
          span.label Гидрокрекинговое
          span.number 467
        label.filter__row(for="type__4")
          input(type="checkbox" name="f_type[]")#type__4
          span.checkbox
          span.label Синтетическое
          span.number 354
        label.filter__row(for="type__5")
          input(type="checkbox" name="f_type[]")#type__5
          span.checkbox
          span.label Минеральное
          span.number 6545
        label.filter__row(for="type__6")
          input(type="checkbox" name="f_type[]")#type__6
          span.checkbox
          span.label Полусинтетическое
          span.number 467
        label.filter__row(for="type__7")
          input(type="checkbox" name="f_type[]")#type__7
          span.checkbox
          span.label Гидрокрекинговое
          span.number 467
        label.filter__row(for="type__8")
          input(type="checkbox" name="f_type[]")#type__8
          span.checkbox
          span.label Синтетическое
          span.number 354
        label.filter__row(for="type__9")
          input(type="checkbox" name="f_type[]")#type__9
          span.checkbox
          span.label Минеральное
          span.number 6545
        label.filter__row(for="type__10")
          input(type="checkbox" name="f_type[]")#type__10
          span.checkbox
          span.label Полусинтетическое
          span.number 467
        label.filter__row(for="type__11")
          input(type="checkbox" name="f_type[]")#type__11
          span.checkbox
          span.label Гидрокрекинговое
          span.number 467
      
      .filter__block
        .filter__head.filter__head--no-after Объем жидкости 
        
        .filter__slider
          #filter__range
        .filter__cost.div-table
          .div-cell От
          .div-cell.no--p
            input#priceMin(type='text', value='1500').form-control
          .div-cell.no--border
          .div-cell.no--p До
          .div-cell.no--p
            input#priceMax(type='text', value='8700').form-control
          .div-cell.div-cell--w1.no--border
            button(type="submit").btn.filter__cost-btn Найти
