// Footer
footer.footer
  .container
    
    .footer__navigation
      .footer__navigation-block
        .footer__navigation-title ПАРТНЕРСТВО
        nav.footer__navigation-list
          ul
            li: a(href="#!") Как стать партнером
            li: a(href="#!") Таблица скидок
            li: a(href="#!") Регионам
            li: a(href="#!") Поставщикам
            li: a(href="#!") Оптовикам
            li: a(href="#!") Производителям
            li: a(href="#!") Наши склады
            li: a(href="#!") Партнерские программы
      .footer__navigation-block
        .footer__navigation-title интернет магазин
        nav.footer__navigation-list
          ul
            li: a(href="#!") Доставка заказа
            li: a(href="#!") Как оплатить заказ
            li: a(href="#!") Условия возврата и гарантии
            li: a(href="#!") Стать клиентом
            li: a(href="#!") Восстановить пароль
            li: a(href="#!") Помощь
      .footer__navigation-block
        .footer__navigation-title каталог товаров
        nav.footer__navigation-list
          ul
            li: a(href="#!") Каталоги автозапчастей
            li: a(href="#!") Все для автосервиса
            li: a(href="#!") Шины, диски
            li: a(href="#!") Масла и ГСМ
            li: a(href="#!") Аккумуляторы
            li: a(href="#!") Аксессуары
            li: a(href="#!") Мотокаталоги
            li: a(href="#!") Автолитература
            li: a(href="#!") Автоэлектроника
      .footer__navigation-block
        .footer__navigation-title о компании
        nav.footer__navigation-list
          ul
            li: a(href="#!") О компании
            li: a(href="#!") Правовая информация
            li: a(href="#!") Адреса офисов
            li: a(href="#!") Мобильное приложение
    
    .footer__bottom
      .footer__card
        img(src="./img/footer-card.png", alt="")
      .footer__copyright © Vector 1998—2018
  
