// Footer js
script(src="./js/libs/slick/slick.min.js")
script(src="./js/libs/bootstrap/bootstrap.min.js")
script(src="./js/libs/selectric/jquery.selectric.js")
script(src="./js/libs/autosize/autosize.min.js")
script(src="./js/libs/datatables/datatables.min.js")
script(src="./js/libs/readmore/readmore.min.js")
script(src='./js/libs/jqueryui/jquery-ui.min.js')
script(src='./js/libs/jqueryui/jquery.ui.touch-punch.min.js')
