/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .header
    &__catalog
      &-btn
        font-size: 0
        width: 97px
        span
          margin-right: 0
          vertical-align: 2px
    &__search
      width: 294px
    &__links
      &-li
        width: 81px
      &-a
        b
          right: 17px
  .main-catalog
    &__block
      &-img
        &[src*='-2x']
          right: -90px
  .faq
    &__block
      &-answer
        padding-right: 20px
  .map
    &__body
      &-map
        width: 66.59%
      &-list
        width: 30.02%
      &-canvas
        padding-bottom: 585px
    &__carousel
      height: 548px
      &-block
        height: 55px !important
        &>div
          height: 54px !important
          white-space: normal
          line-height: 20px
          padding-top: 7px
          padding-bottom: 7px
          display: flex
          align-items: center
  .catalog
    &__row
      &-btn
        width: 150px
  .uc
    &__balance
      &-content
        width: calc(100% - 377px)
      &-right
        width: calc(100% - 539px)
    &__garage
      &-top
        &-right
          width: 262px
          padding-left: 26px
          padding-right: 26px
        &-left
          width: calc(100% - 262px)
      &-bottom
        &-right
          width: 262px
          padding-left: 26px
          padding-right: 26px
        &-left
          width: calc(100% - 262px)
          margin-right: 0
    &__settings
      &-top
        &-left
          width: 15.23%
        &-center
          width: 38.6%
        &-right
          width: 39.16%

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .footer
    &__navigation
      &-title
        font-size: rem(14)
  .header
    &__catalog
      &-btn
        font-size: 0
        width: 50px
    &__search
      width: 220px
    &__links
      &-li
        width: 62px
      &-a
        font-size: rem(9)
        b
          right: 8px
    &__bottom
      &-wrapper
        &>div
          &+div
            margin-left: 22px
  .main-catalog
    &__block
      height: 180px
      &-img
        &[src*='-2x.png']
          height: 153px
          right: -66px
        &[src*='-2.png']
          height: 140px
        &[src*='-3.png']
          height: 128px
        &[src*='-4.png']
          height: 134px
        &[src*='-5.png']
          height: 160px
      &-title
        font-size: rem(20)
        line-height: 25px
        top: 20px
        &::before
          top: 3px
      &-list
        top: 100px
        &>span
          &:not(:last-child)
            margin-bottom: 10px
      svg
        width: 174px
        height: 186px
        right: -38px
  .main-tab
    &__tab
      font-size: rem(16)
      &>li
        &:not(:last-child)
          margin-right: 40px
        &>a
          height: 40px
          line-height: 40px
  .product-table
    &__table
      .table
        .table
          &--product-name, &--product-info
            display: table
          &--product-name
            &>tbody
              &>tr
                background: none
                &>td
                  padding-left: 0
                  padding-right: 0
                  border: 0
                  background: transparent
                  padding-top: 15px
                  padding-bottom: 5px
                  height: auto
                &:hover
                  &>td
                    background: none
          &--product-info
            max-width: 375px
            width: 100%
            table-layout: fixed
            &>tbody
              &>tr
                background: none
                &>td
                  background: transparent
                  border: 0
                  padding-bottom: 5px
                  height: auto
                  // width: 33.3%
                  &.product-table__td-5
                    padding-left: 0
                  &.product-table__td-8
                    padding-right: 0
                    width: 1px !important

                &:hover
                  &>td
                    background: none
    &__td
      &-2
        &-info
          display: inline-block
    &-new
      &__rows
        display: block
      &__div1, &__div2, &__div3, &__div4
        width: 100%
        padding-left: 16px
      &__div1
        &-info
          display: inline-block
      &__div2, &__div4
        padding-top: 15px
      &__div3
        display: none
      &__div4
        &-row
          &>div
            text-align: left
        &-div4
          text-align: right !important
      &__head
        .product-table-new
          &__div1
            width: 100%
          &__div2, &__div3, &__div4
            display: none
  .map
    &__head
      margin-top: -52px
    &__body
      display: block
      &-map
        width: 100%
        margin-bottom: 34px
      &-list
        width: 100%
        max-width: 470px
        margin: 0 auto
    &__carousel
      height: 377px
      &-block
        height: 36px !important
        &>div
          height: 35px !important
          white-space: nowrap
  .search-result
    &__head
      &--cart
        margin-top: -47px
      &>div
        &+div
          padding-left: 30px
  #filters
    position: absolute
    width: 250px
    box-shadow: 2px 2px 10px rgba($color-2,0.1)
    visibility: hidden
    opacity: 0
    &.is-active
      visibility: visible
      opacity: 1
  .filter
    &__cost
      position: relative
      margin-bottom: 47px
      .div-cell
        &:last-child
          padding: 0 !important
      &-btn
        position: absolute
        width: 185px
        left: 8px
        top: 47px
  .catalog
    &__mobile-btn
      display: block
    &__head
      padding-left: 26px
  .uc
    &__balance
      &-content
        width: 100%
    &__vin
      &-top-left
        max-width: 380px
      &-bottom-left
        max-width: 380px
    &__garage
      &-top
        padding-bottom: 25px
        &-left
          width: 100%
          float: none
          margin-bottom: 25px
        &-right
          width: 100%
          max-width: 266px
          float: none
          margin: 0 auto
      &-bottom
        &-left
          display: block
          &>div
            &+div
              padding-left: 0
      &-th
        width: inherit
    &__settings
      &-top
        flex-wrap: wrap
        &-left
          width: 19.08%
        &-center
          width: 76.33%
        &-right
          width: 76.33%
          margin-left: calc(19.08% + 30px) !important


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important
  .footer
    &__navigation
      margin: 0 auto
      max-width: 345px
      &-title
        font-size: rem(18)
        color: #eee
      &-block
        float: none
        width: 100%
        padding: 0
        &.is-active
          .footer__navigation-list
            display: block
      &-list
        display: none
        margin-bottom: 25px
    &__card, &__copyright
      text-align: center
      float: none
  .header
    &__top
      height: 40px !important
      &-left, &-right
        display: none
    &__logo
      position: absolute
      margin-top: -31px
      margin-left: 60px
      img
        width: 100px
        height: 24px
        background-image: url('../img/header-logo-mobile.png')
    &__links
      position: absolute
      right: 50px
      margin: -40px 0 0 0
      &-li
        width: auto
        margin-right: 24px
        &:last-child
          margin-right: 0
        &.is-active
          background: none
          &>a
            background: none !important
      &-a
        height: 40px
        padding-top: 9px
        background: none !important
        svg, img
          width: 22px
          height: 22px
        span, b
          display: none
      &-popup
        top: 36px
        &--user
          left: inherit
          right: 0
          &::before
            left: inherit
            right: 41px
          &::after
            left: inherit
            right: 38px
    &__bottom
      &-wrapper
        &>div
          &:nth-child(2), &:last-child
            margin-left: 0
          &:nth-child(3)
            width: 100%
            margin-left: 15px
    &__search
      width: 100%
    &__phone
      display: block
    &-separator
      height: 160px
    &__lang
      margin: -40px 0 0 0 !important
    &.is-fixed
      .header
        &__top, &__phone
          display: block !important
  .content
    padding: 30px 0
  .main-catalog
    margin: 0 auto
    max-width: 357px
    padding-bottom: 15px
    &>div
      padding: 0
    &__block
      height: 115px
      margin-bottom: 15px
      &-list
        display: none
      &-img
        &[src*='-2x.png']
          height: 95px
          right: -90px
        &[src*='-2.png']
          height: 90px
        &[src*='-3.png']
          height: 82px
        &[src*='-4.png']
          height: 94px
        &[src*='-5.png']
          height: 95px
      svg
        width: 111px
        height: 119px
        right: -24px
      &-title
        font-size: rem(26)
        line-height: 30px
        top: 16px
        &::before
          top: 6px
  .main-tab
    &__tab
      font-size: rem(15)
      &>li
        &:not(:last-child)
          margin-right: 22px
    &__block
      max-width: 350px
      margin-left: auto
      margin-right: auto
  .breadcrumbs
    margin-top: -15px
  .search-result
    &__head
      float: none
      margin-top: 0
      margin-bottom: 30px
      &>div
        &+div
          padding-left: 25px
      &--cart
        float: right
        margin: -47px 0 0 0
  .map
    &__head
      margin-top: 0
      float: none
      margin-bottom: 20px
      margin-left: 0
  .product-table
    &__total
      &-left
        text-align: center
        float: none
        font-size: rem(13)
      &-right
        text-align: center
        float: none
        padding-top: 10px

  .catalog
    &__row
      &-wrapper
        flex-wrap: wrap
      &-title
        width: 100%
        flex-shrink: 0
      &-img
        width: 150px
      &-content
        width: calc(100% - 150px)
        padding-left: 15px
      &-table
        margin-bottom: 20px
      &-btn
        margin-top: 0
  .pagination
    &--catalog
      float: none
      width: 100%
      text-align: center
      margin-bottom: 20px
      &>ul
        display: inline-block
  .catalog
    &__sort
      float: none
      justify-content: center
  .uc
    &__balance
      &-tab
        width: 116px
      &-form
        width: calc(100% - 116px)
    &__vin
      &-top
        margin-bottom: 10px
        &-left
          max-width: inherit
          float: none
          max-width: 390px
          margin: 0 auto 25px
        &-right
          float: none
          margin: 0 auto
      &-bottom
        &-left
          max-width: inherit
          float: none
          max-width: 390px
          margin: 0 auto
        &-right
          float: none
          margin: 0 auto 40px
    &__line
      margin-bottom: 40px
    &__garage
      &-top
        &-right
          max-width: inherit
          .form
            max-width: 210px
      &-capabilities
        &-wrapper
          display: block
          max-width: 335px
          margin: 0 auto
          &>div
            width: 100%
            &+div
              margin-left: 0
              margin-top: 25px
            &:first-child
              max-width: 255px
        &-text
          margin-top: 0
      &-bottom
        &-left
          float: none
          width: 100%
          max-width: 286px
          margin: 0 auto 30px
          .uc__vin-auto
            margin-left: 20px
        &-right
          float: none
          width: 100%
    &__settings
      &-top
        flex-wrap: wrap
        max-width: 350px
        margin: 0 auto
        &-left
          width: 100%
        &-center
          width: 100%
        &-right
          width: 100%
        &>div
          margin: 0 !important
      &-bottom
        p
          padding: 5px 0 10px 0
          line-height: 22px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .footer
    &__navigation
      max-width: 190px
      &-title
        font-size: rem(16)
  .header
    &__logo
      margin-left: 0
    &__links
      right: 15px
      &-popup
        &-wrapper
          width: 290px
        &--user
          right: -58px
    &__catalog
      &-img
        display: none
      &-info
        display: none
      &-popup
        &-wrapper
          width: 290px
      &-body
        width: 100%
        box-shadow: none
    &__cart
      &-row
        padding-left: 45px
        &-img
          display: none
  .main-catalog
    &__block
      &-title
        font-size: rem(20)
        line-height: 25px
        &::before
          top: 3px
  .main-slider
    margin-bottom: 55px
    .slick-dots
      bottom: -24px
  .main-tab
    &__tab
      font-size: rem(10)
      &>li
        &:not(:last-child)
          margin-right: 10px
  .content
    &__wrapper
      padding-left: 22px
      padding-right: 22px
  .hidden-xxs
    display: none !important
  .visible-xxs
    display: block !important
  .col-xxs-12
    width: 100% !important
  .faq
    &__block
      &-title
        padding-left: 12px
      &-answer
        padding-left: 12px
  .table__prices
    &>tbody
      &>tr
        &>td
          &:first-child
            padding-left: 10px
  .product-table
    &__table
      // margin-left: -5px
      // margin-right: -5px
      .table
        &>thead
          &>tr
            &>th
              &:first-child
                padding-left: 0
        &>tbody
          &>tr
            &>td
              padding-left: 5px !important
              padding-right: 5px !important
              &.product-table__td-1
                padding-left: 0 !important
        .table--product-info
          table-layout: auto
    &__roll-up, &__roll-down
      font-size: 0
    &-new
      &__div2, &__div4
        padding-left: 0
      &__rows
        padding-left: 0
        padding-right: 0
      &__head
        padding-left: 0
        padding-right: 0
        .product-table-new__div1
          padding-left: 0
  .table--cart
    margin-left: -22px
    width: calc(100% + 22px)
  .map
    &__popup
      left: 0
    &__head
      display: block
      &>div
        &+div
          margin-left: 0
          margin-top: 25px
    &__carousel
      height: 548px
      &-block
        height: 55px !important
        &>div
          height: 54px !important
          white-space: normal
  .catalog
    &__row
      &-img
        width: 100%
        margin-bottom: 20px
      &-content
        width: 100%
        padding-left: 0
      &-btn
        margin: 0 auto
        display: block
        float: none
    &__mobile-btn
      left: -26px
      &--filter
        left: inherit
        right: -32px
  .uc
    &__balance
      &-tab
        width: 67px
        li > a > span img
          max-height: 17px
      &-form
        padding-right: 15px
        width: calc(100% - 52px)
    &__orders-tab
      font-size: rem(13)
      &>li
        margin-right: 35px
        &:last-child
          margin-right: 0
    &__garage
      &-top
        &-right
          width: 242px
          padding-left: 20px
          padding-right: 20px
      &-capabilities
        &-wrapper
          &>div
            padding-left: 55px
          .icon
            left: 0
      &-bottom
        &-right
          padding-left: 20px
          padding-right: 20px
        &-left
          .uc__vin-auto
            margin-left: 0
    &__settings
      &-th
        td, tr
          display: block
        td
          &.first
            padding-bottom: 0
            &>span
              background: none
              &>span
                display: block
      &-top
        &-right
          p
            line-height: 22px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
